<%- include ('../partials/header')%>
<div class="content" style="opacity: 90%; font-size: larger;">
    <div class="card form" style="width: 50%; margin: 30px auto; padding: 15px 15px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <p style="font-size: 60px; margin: auto; font-weight:normal;">Add a campground</p>
        <form action="/campgrounds" method="post" class="form">
            <div style="width: 70%; margin:5px auto; margin-bottom: 10px;">
                <label for="username" class="form-label"> Title</label>
                <input type="text" placeholder="Enter title" name="title" class="form-control">
            </div>
            <div style="width: 70%; margin:5px auto; margin-bottom: 10px;">
                <label for="username" class="form-label"> Price per night</label>
                <input type="number" placeholder="Enter price" name="price" min="0.01" step="0.01" class="form-control">
            </div>
            <div style="width: 70%; margin:5px auto; margin-bottom: 10px;">
                <label for="username" class="form-label"> Image-URL</label>
                <input type="text" placeholder="Enter image-url" name="img" class="form-control">
            </div>
            <div style="width:70%; margin:5px auto; margin-bottom: 10px;">
                <label for="username" class="form-label"> Caption</label>
                <input type="text" placeholder="Enter caption" name="caption" class="form-control">
            </div>
            <div>
                <button style="width: 30%; display: block; margin: 20px auto;" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include ('../partials/footer')%>