body{
    background-color: rgb(80, 133, 80);
}
#video{
    /* z-index: 0; */
    position: fixed;
    opacity: 40%;
    right: 0;
    bottom: 0;
    min-width:100%;
    min-height: 100%;
}
.content{
    position: fixed;
    /* z-index: 1; */
    text-align: center;
    margin: 210px auto;
    width: 100%;
}
.content h1{
    color: white;
    font-size: 80px;
}
.content a{
    transform: translateY(10px);
}
